.marker {
  width: 30px;
  height: 30px;
  background-color: #FF4B4B;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.marker.highlighted-marker {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(255, 75, 75, 0.5);
  z-index: 1000;
} 